{% extends "base.html" %}
{% block title %}Home - itWorksOnMyMachine{% endblock %}
{% block content %}

<!DOCTYPE html>

<html>

  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>
    <h1>
      Howdy, friends!
    </h1>
    
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flash-messages">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}


    <form action="/login" method="post">
      <input type="text" name="username" required>
      <input type="text" name="password" required>
      <button type="submit" class=>Login</button>
    </form>
    <br>
     <a href="/register"> <button type="button">Sign Up</button> </a>
  </body>

</html>{% endblock %}