{% extends "base.html" %}
{% block title %}Home - itWorksOnMyMachine{% endblock %}
{% block content %}

<!DOCTYPE html>

<html>

  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>
    <h1>
      Howdy, friends!
    </h1>
    
    <form action="/login" method="post">
      <input type="text" name="username">
      <input type="text" name="password">
      <input type="submit" name="sub1">
    </form>
    <br>
     <a href="/signup"> <button type="button">Sign Up</button> </a>
  </body>

</html>{% endblock %}